body {
  font-family: "Arial", "Meiryo", sans-serif;
  font-size: 1rem;
  text-align: center;
}
h1{
  line-height:  1.2;
  border-bottom: solid 3px rgb(115, 115, 114)
}
.blue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203);
}
div {
  font-weight: bold;
}